




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/97c02f89cd.js"></script>

        <link rel="stylesheet" href="/css/cus_view.css">
        <link rel="stylesheet" href="/css/header.css">

</head>
<body>
    
    <!-- nav bar  -->
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-info" href="#">MicroVest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index">
                        <i class="fa fa-home"></i>
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view_scheme">
                        <i class="fa fa-envelope-o">
                        </i>
                        Schemes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view_loan">
                        <i class="fa fa-globe">
                        </i>
                        Loans
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/installment">
                        <i class="fa fa-money">
                        </i>
                        Installments
                    </a>
                </li>
    
            </ul>
            <ul class="navbar-nav ">
             
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="fa fa-sign-out text-danger">
    
                        </i>
                        Logout
                    </a>
                </li>
            </ul>
    
        </div>
    </nav>
    <!-- nav bar ends -->
    
    <div class="container mt-5">
        <form action="/search" class="" method="POST">
          <div class="form-group">
            <div class="input-group">
                
                <!-- Search form -->
                <abbr title="Search"><i class="fas fa-search-location fa-3x"></i></abbr>
               
                <input class="form-control  search" type="number" id="search" name="search"  placeholder="Search Customer ID" aria-label="Search" >
            </div>
          </div>
        </form>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Address</th>
                    <th scope="col">Asset</th>
                    <th scope="col">Asset Price</th>
                    <th scope="col">Scheme Name</th>
                    <!-- <th scope="col">Scheme</th> -->
                    <th scope="col">Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
                        <% print.forEach(function (user) { %>
                 <tr>
                     
                    <td><%= user.cus_id %></td>
                    <td> <img src="/uploads/<%=user.img%>"class="brand_logo" class="img-circle img-responsive">
                   </td>
                    <td><%= user.cus_name %></td>
                    <td><%= user.cus_contact %></td>
                    <td><%= user.cus_address %></td>
                    <td><%= user.cus_asset %></td>
                    <td><%= user.asset_price %></td>
                    <td><%= user.scheme_name %></td>
                    <td><%= user.date %></td>
                    <td>
                        <a href="/action/<%=user.cus_id %>" ><abbr title="Edit Customer Info"><i class="fas fa-edit fa-2x text-info "></i></abbr></a>
                        <a href="/delete/<%=user.cus_id %>" onclick="return confirm('Are You sure ?');"><abbr title="Delete Customer"><i class=" text-danger fas fa-trash-alt fa-2x"></i></abbr></a>
                        <a href="/profile/<%=user.cus_id%>"></i><abbr title="GO to Profile"><i class="far fa-id-card fa-2x"></i></abbr></a>
                        <a href="/info/<%=user.scheme_id%>/<%=user.cus_id%>"><abbr title="Loan Info"><i class=" text-success fas fa-info fa-2x"></i></abbr></a>
         
                    </td>
        
                    <% }) %>
        
                </tr>
        
            </tbody>
        </table>

        <!-- modal -->
        
</body>
</html>