<!-- 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag 
< -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/profile.css">
        <link rel="stylesheet" href="/css/header.css">
    
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(print[0]){ %>
    <title>Invoice Of <%=print[0].cus_name%></title>
</head>
<body>
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-info" href="#">MicroVest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index">
                        <i class="fa fa-home"></i>
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view_scheme">
                        <i class="fa fa-envelope-o">
                            <!-- <span class="badge badge-danger">11</span> -->
                        </i>
                        Schemes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view_loan">
                        <i class="fa fa-globe">
                            <!-- <span class="badge badge-success">11</span> -->
                        </i>
                        Loans
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/installment2/<%=print[0].cus_id%>">
                        <i class="fa fa-money">
                            <!-- <span class="badge badge-success">11</span> -->
                        </i>
                        Installments
                    </a>
                </li>
    
            </ul>
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a id="print" class="nav-link" href="/generateReport_invoice/<%=print[0].cus_id%>">
                        <i class="fa fa-print text-success ">
                            <span class="badge badge-danger "></span>
                        </i>
                        Print
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="fa fa-sign-out text-danger">
    
                        </i>
                        Logout
                    </a>
                </li>
            </ul>
    
        </div>
    </nav>

    <div class="container">
    
        <div class="row profile">
    
            <div class="col-md-3">
               
                <div class="profile-sidebar">
    
    
                    <div class="profile-usertitle p-5">
                        <div class="profile-usertitle-name">
                            <img src="/uploads/<%=print[0].img%>" class="brand_logo" alt="Logo">
    
                        </div>
    
                    </div>
    
    
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    ID: <%=print[0].cus_id%> </a>
                            </li>
                            <li>
                                <a href="/profile/<%=print[0].cus_id%>">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Name: <%=print[0].cus_name%> </a>
                            </li>
                            <li class="active">
                                <a href="/profile/<%=print[0].cus_id%>">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Address: <%=print[0].cus_address%> </a>
                            </li>
                            <li class="active">
                                <a href="/profile/<%=print[0].cus_id%>">
                                    <i class="glyphicon glyphicon-phone"></i>
                                    Contact: <%=print[0].cus_contact%> </a>
                            </li>
                        </ul>
    
    
    
                    </div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            Loan Info
                        </div>
                    </div>
                    <div class="profile-usermenu">
                        <%var mot = 0 %>
                        <% var fine  = 0 %>
                        <% print.forEach(function (user) { %>
                        <% mot  =Math.round(mot + user.amount)%>
                        <% fine = Math.round(fine + user.fine) %>
    
                        <% }) %>
                        <!-- <%var scheme_amount = print[0].amount + print[0].remaining %> -->
                        <% var remaining = Math.round(scheme_amount - mot) %>
                        <ul class="nav">
                            <li>
                                <a href="/view_scheme">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                    Scheme : <%=print[0].scheme_name%> </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-usd"></i>
                                    Amount Taken : <%=print[0].scheme_amount%> </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Total Paid: <%=mot%> </a>
                            </li>
                            <li class="active">
                                <a href="/info/<%=print[0].scheme_id%>/<%=print[0].cus_id%>">
                                    <i class="glyphicon glyphicon-usd"></i>
                                    Remainings: <%=remaining%> </a>
                            </li>
    
                            <li>
                                <a href="/installment2/<%=print[0].cus_id%>" target="_blank">
                                    <i class="glyphicon glyphicon-euro"></i>
                                    Installment: <%=print[0].installment_amount%> </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="glyphicon glyphicon-euro"></i>
                                    Total Fine: <%=fine%> </a>
                            </li>
                            <% if(remaining == 0){%>
                            <li>
                                <a href="#" class="text-success">
                                    <i class="glyphicon glyphicon-heart-empty"></i>
                                    You Loan is Over </a>
                            </li>
                            <%}%>
                            <% if(remaining > 0){%>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-heart-empty"></i>
                                    You Loan is Running </a>
                            </li>
                            <%}%>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-time"></i>
                                    Taken Date: <%=print[0].date%> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
    
                <div class="profile-content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Installment NO#</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Remaining</th>
                                <th scope="col">Status</th>
                                <th scope="col">Fine</th>
                                <th scope="col">Given date</th>
                                <th scope="col">Schedule date</th>
    
                            </tr>
                        </thead>
                        <tbody>
                            <% var cnt=1 %>
                            <% print.forEach(function (user) { %>
                            <tr>
                                
                                <td><%= cnt++ %></td>
                                <td><%= user.amount %></td>
                                <td><%= user.remaining %></td>
                                <%if(user.status == "Delayed" || user.status == "Late" ){%>
                                 <td class="text-danger"><%= user.status%></td>
                                <%}%>
                                <%if(user.status != "Delayed"  && user.status != "Late"){%>
                                <td><%= user.status%></td>
                                <%}%>

                                <td><%= user.fine%></td>
                                <td><%= user.ins_date%></td>
                                <td><%= user.schedule_date%></td>
                                
                                <% }) %>
    
    
                            </tr>
    
                        </tbody>
                        <!-- <% if(print[0].status =='Late'){%>
                        <h5 class="text-center bg-danger">You are late you have fined TK <%=print[0].fine%></h5>
                        
                      <%  } %>
                    <% if(print[0].status =='Delayed'){%>
                    <h5 class="text-center bg-danger"> Your Installment is delayed you have fined TK <%=print[0].fine%></h5>
                    
                    <%  } %> -->
                    </table>
                    <%}%>
                </div>
               <% if(!print[0]) {%>
                    <h2 class="text-center text-danger">You have no Installment History</h4>
                        <% } %>
                </div>
            </div>
        </div>
        <center>
            <strong>Powered by <a href="#" target="_blank">Kh Nishad</a></strong>
        </center>
        <br>
        <br>
       
    
</body>
</html>
<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->

